body {
  margin:0;
  padding:0;
  background: url(./stardust.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.defil {
  animation-duration: 2s;
  animation-name: defiler;
}

@keyframes defiler {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
