body {
  margin:0;
  padding:0;
  background: url(./stardust.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.apparition {
  animation: apparition 3s;
}

@keyframes apparition {
  from {
    opacity: 0; 
  }

to {
    opacity: 1;
  }
}

.bouton {
  border-radius: 50%;
}

.apparition2 {
  animation: apparition2 1,5s;
}

@keyframes apparition2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.apparition3 {
  animation: apparition2 1,5s 1s;
}

.centrer {
  position: absolute;
  top:50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

.attente {
  position: absolute;
  top: 40%;
  width: 100%;
}